<%- include('../partials/header') %>

<body>
    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <a href="/skills/<%= s.id %>">Details</a>
          -
          <%= s.skill %>
            - 
          <%= s.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>

    <a href="/skills/new">Add New Skill</a>
</body>

<%- include('../partials/footer') %>
