<%- include('../partials/header') %>


<body>
    <h3>Skill # <%= skillNum %>: <%= skill.skill %></h3>
    <h3>Proficient: <%= skill.done ? 'Yes' : 'No' %></h3>
    <a href="/skills">Back to Skills</a>
</body>


<%- include('../partials/footer') %>